extends base

block content
    section.banner_part
        .container
            .row.align-items-center
                .col-lg-12
                    .banner_slider.owl-carousel
                        each banner in allBanner
                            .single_banner_slider
                                .row
                                    .col-lg-5.col-md-8
                                        .banner_text
                                            .banner_text_iner
                                                h1= banner.name
                                                    //- | Wood &amp; Cloth
                                                    //- | Sofa
                                                p= banner.description
                                                    //- | Incididunt ut labore et dolore magna aliqua quis ipsum
                                                    //- | suspendisse ultrices gravida. Risus commodo viverra
                                                a.btn_2(href="#") buy now
                                    .banner_img.d-none.d-lg-block
                                        img(src=`img/${banner.images}` alt="")
                    .slider-counter
    // feature_part start
    section.feature_part.padding_top
        .container
            .row.justify-content-center
                .col-lg-8
                    .section_tittle.text-center
                        h2 Featured Premium Category
            .row.align-items-center.justify-content-between
                .col-lg-12.col-sm-12
                    each prod in products
                        if (prod.categories === "premium")
                            .single_feature_post_text
                                p Premium Quality
                                h3= prod.name
                                a.feature_btn(href="#")
                                    | EXPLORE NOW 
                                    i.fas.fa-play
                                img(src=`img/feature/${prod.image}` alt=`${prod.image}`)
        // product_list start
    section.product_list.section_padding
        .container
            .row.justify-content-center
                .col-lg-12
                    .section_tittle.text-center
                        h2
                            | Products From
                            span Shops
            .row
                .col-lg-12
                    .product_list_slider.owl-carousel
                        .single_product_list_slider
                            .row.align-items-center.justify-content-between
                                each prod in products
                                    if (prod.categories === "standard")
                                        .col-lg-3.col-sm-6
                                            .single_product_item
                                                img(src=`img/product/${prod.image}` alt="")
                                                .single_product_text
                                                    h4= prod.name
                                                    h3 $ #{prod.price}
                                                    a.add_cart.text-center(href="#")
                                                        | + add to cart
                                                        i.ti-heart
                                                        a.genric-btn.success.circle.text-center(href="#")
                                                            | View

                        .single_product_list_slider
                            .row.align-items-center.justify-content-between
                                each prod in products
                                    if (prod.categories === "standard")
                                        .col-lg-3.col-sm-6
                                            .single_product_item
                                                img(src=`img/product/${prod.image}` alt="")
                                                .single_product_text
                                                    h4= prod.name
                                                    h3 $ #{prod.price}
                                                    a.add_cart.text-center(href="#")
                                                        | + add to cart
                                                        i.ti-heart
                                                        a.genric-btn.success.circle.text-center(href="#")
                                                            | View
        // awesome_shop start
    section.our_offer.section_padding
        .container
            .row.align-items-center.justify-content-between
                .col-lg-6.col-md-6
                    .offer_img
                        img(src="img/offer_img.png" alt="")
                .col-lg-6.col-md-6
                    .offer_text
                        h2
                            | Weekly Sale on
                            | 60% Off All Products
                        .date_countdown
                            #timer
                                #days.date
                                #hours.date
                                #minutes.date
                                #seconds.date
                        .input-group
                            input.form-control(type="text" placeholder="enter email address" aria-label="Recipient's username" aria-describedby="basic-addon2")
                            .input-group-append
                                a#basic-addon2.input-group-text.btn_2(href="#") book now

